<div class="row">
    <h2>Actualités</h2>
    <div id="news-event-slider" class="news-event-slider">
        {% for post in posts %}
            {% set params = get_post_params(args, post) %}
            <div class="item">
                <img src="{{ img(post.thumbnail.path) }}" alt="{{ post.thumbnail.alt }}">
                <div class="foot">
                    <a class="foot" href="{{ link(route,params) }}">
                        <i class="icon-arrow-right-latest-races"></i>
                        <span class="title">{{ post.title }}</span>
                        <span class="date">
                            <em class="fa fa-calendar-o"></em>
                            <em>{{ post.updated_at.date | date('d/m/Y') }}</em>
                        </span>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>