<< _seo.offsetSet('title', '{{ field_render('meta_title', 'post@' ~ post.id) }}') >>
<< _seo.offsetSet('description', '{{ field_render('meta_description', 'post@' ~ post.id) }}') >>
<< _seo.offsetSet('keywords', '{{ field_render('meta_keywords', 'post@' ~ post.id) }}') >>


<!-- Gallery Start -->
<div class="blog-post haslayout">
    <div class="container">
        <div class="row">
            <article class="post single">
                <h2>{{ post.title }}</h2>
                <span class="date">{{ post.updated_at.date | date('d/m/Y') }}</span>
                <div class="center mb40">
                    <img class="centered" src="{{ img(post.thumbnail.path) }}" alt="{{ post.thumbnail.alt }}">
                </div>
                <div class="description">
                    {{ post.content|raw }}
                </div>
            </article>
        </div>
    </div>
</div>
<!-- Gallery End -->